@import url("./tokens.css");

/* btn style */
.dt-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  position: relative;
  border: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  justify-content: center;
  text-decoration: none;
  font-weight: var(--telekom-typography-font-weight-bold);
  font-size: var(--telekom-typography-font-size-body);
  line-height: var(--telekom-typography-line-spacing-tight);
  min-height: var(--telekom-spacing-composition-space-13);
  min-width: var(--telekom-spacing-composition-space-13);
  width: auto;
  padding-left: var(--telekom-spacing-composition-space-07);
  padding-right: var(--telekom-spacing-composition-space-07);
  vertical-align: middle;
  transition: var(--telekom-motion-duration-transition)
    var(--telekom-motion-easing-standard);
  border-radius: var(--telekom-radius-standard);
  text-align: center;
}

.dt-btn:after {
  top: 0;
  left: 0;
  width: 100%;
  border: var(--telekom-spacing-composition-space-01) solid transparent;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: var(--telekom-radius-standard);
}

.dt-btn--primary {
  background: var(--telekom-color-primary-standard);
  color: var(--telekom-color-text-and-icon-white-standard);
}

.dt-btn--primary:not(.dt-btn--disabled):hover {
  background: var(--telekom-color-primary-hovered);
}
.dt-btn--primary:not(.dt-btn--disabled):active {
  background: var(--telekom-color-primary-pressed);
}

.dt-btn--disabled.dt-btn--primary {
  background: var(--telekom-color-ui-disabled);
  color: var(--telekom-color-text-and-icon-disabled);
}

.dt-btn--small {
  font-size: var(--telekom-typography-font-size-caption);
  line-height: 1.125rem;
  min-height: var(--telekom-spacing-composition-space-10);
  padding-left: var(--telekom-spacing-composition-space-06);
  padding-right: var(--telekom-spacing-composition-space-06);
}

.dt-btn:not(.dt-btn--disabled):focus {
  outline: var(--telekom-line-weight-highlight) solid
    var(--telekom-color-functional-focus-standard);
  outline-offset: var(--telekom-spacing-composition-space-01);
}

.dt-btn.dt-btn--icon-before:not(.dt-btn--icon-only) svg {
  margin-right: var(--telekom-spacing-composition-space-04);
  margin-left: calc(var(--telekom-spacing-composition-space-03) * -1);
  margin-top: var(--telekom-spacing-composition-space-04);
  margin-bottom: var(--telekom-spacing-composition-space-04);
}

.dt-btn.dt-btn--icon-before:not(.dt-btn--icon-only).dt-btn--small svg {
  margin-right: var(--telekom-spacing-composition-space-03);
  margin-left: calc(var(--telekom-spacing-composition-space-04) * -0.5);
}

.dt-btn.dt-btn--icon-after:not(.dt-btn--icon-only) svg {
  margin-left: var(--telekom-spacing-composition-space-04);
  margin-right: calc(var(--telekom-spacing-composition-space-03) * -1);
  margin-top: var(--telekom-spacing-composition-space-04);
  margin-bottom: var(--telekom-spacing-composition-space-04);
}

.dt-btn.dt-btn--icon-after:not(.dt-btn--icon-only).dt-btn--small svg {
  margin-left: var(--telekom-spacing-composition-space-03);
  margin-right: calc(var(--telekom-spacing-composition-space-04) * -0.5);
}

.dt-btn--icon-only {
  padding-left: var(--telekom-spacing-composition-space-05);
  padding-right: var(--telekom-spacing-composition-space-05);
}
.dt-btn--icon-only.dt-btn--secondary {
  padding-left: calc(var(--telekom-spacing-composition-space-05) - 1px);
  padding-right: calc(var(--telekom-spacing-composition-space-05) - 1px);
}

.dt-btn--icon-only.dt-btn--small {
  padding-left: var(--telekom-spacing-composition-space-00);
  padding-right: var(--telekom-spacing-composition-space-00);
  min-width: 32px;
}
.dt-btn--icon-only.dt-btn--small.dt-btn--secondary {
  padding-left: calc(var(--telekom-spacing-composition-space-00) - 1px);
  padding-right: calc(var(--telekom-spacing-composition-space-00) - 1px);
}

.dt-btn--disabled {
  cursor: not-allowed;
}

.dt-btn--secondary {
  background: transparent;
  text-align: center;
  border: var(--telekom-spacing-composition-space-01) solid currentColor;
  color: var(--telekom-color-text-and-icon-standard);
  background-color: transparent;
  border-color: var(--telekom-color-ui-border-standard);
}

.dt-btn--secondary:not(.dt-btn--disabled):hover {
  color: var(--telekom-color-text-and-icon-standard);
  background-color: var(--telekom-color-ui-state-fill-hovered);
  border-color: var(--telekom-color-ui-border-hovered);
}
.dt-btn--secondary:not(.dt-btn--disabled):active {
  color: var(--telekom-color-text-and-icon-standard);
  background-color: var(--telekom-color-ui-state-fill-pressed);
  border-color: var(--telekom-color-ui-border-pressed);
}
.dt-btn--disabled.dt-btn--secondary {
  color: var(--telekom-color-text-and-icon-disabled);
  background-color: none;
}

/* card */

.dt-card {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--telekom-color-background-surface);
  transition: all var(--telekom-motion-duration-transition)
    var(--telekom-motion-easing-standard);
  border-radius: var(--telekom-radius-large);
  box-shadow: var(--telekom-shadow-raised-standard);
  display: flex;
}

.dt-card__content {
  padding: var(--telekom-spacing-composition-space-08);
  flex: 1;
}

.dt-card--interactive {
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.dt-card--interactive:hover {
  box-shadow: var(--telekom-shadow-raised-hover);
}

.dt-card--interactive:focus {
  box-shadow: var(--telekom-shadow-raised-hover),
    0 0 0 var(--telekom-line-weight-highlight)
      var(--telekom-color-functional-focus-standard);
}

.dt-card--interactive:active {
  border: none;
  box-shadow: var(--telekom-shadow-raised-pressed);
}

.dt-card--has-image-vertical {
  flex-direction: column;
}

.dt-card--has-image-horizontal {
  flex-direction: row;
}

.dt-card__image img {
  object-fit: contain;
}

.dt-card__title {
  margin: 0px 0px 16px;
  font: var(--telekom-text-style-heading-4);
}

.dt-card__body {
  font: var(--telekom-text-style-body);
}
